@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css';

@import 'nativewind/theme';

@source '../app';
@source '../components';
@source '../features';
@source '../lib';

@theme {
  --color-primary: #0d9488;
  --color-primary-foreground: #f0fdfa;
  --color-muted: #f0fdfa;
  --color-muted-foreground: #5eead4;
  --color-border: #e5e7eb;
  --color-ring: #0d9488;
}

@media android {
  :root {
    --font-mono: monospace;
    --font-rounded: normal;
    --font-serif: serif;
    --font-sans: normal;
  }
}

@media ios {
  :root {
    --font-mono: ui-monospace;
    --font-serif: ui-serif;
    --font-sans: system-ui;
    --font-rounded: ui-rounded;
  }
}
